@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&family=Shantell+Sans&display=swap');
/* PAGINA HOME */ 

body{
    background-image: url("./assets/Siberian-Husky-mit-Welpe.jpg");
    background-size: cover;   
}
header h1{
    font-family: 'Seaweed Script', cursive;
    font-size: xx-large;
    color: rgb(241, 60, 14);
}

header h2{
    font-family: 'Seaweed Script', cursive;
    font-size: xx-large;
    color: rgb(253, 51, 0);
 
}

header img{
    position:relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    
}

header a{
    font-family: 'Shantell Sans';
    color: rgba(255, 255, 0, 0.884);
    text-decoration: none;
    font-weight: 700;
    background-color: rgba(17, 5, 5, 0.336);
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    overflow: scroll;
}

.axiaformazione{
    font-family: 'Shantell Sans', cursive;
    font-weight: 900;
}

.testohome{
    font-family: 'Shantell Sans', cursive;
    color: rgba(0, 0, 0, 0.884);
    background-color: rgba(255, 255, 255, 0.164);
    margin-left: 20%;
    margin-right: 20%;
    font-size: large;
    
}

.formazione h2{
    font-size: xx-large;
    font-family: 'Shantell Sans', cursive;
   color: rgba(253, 10, 10, 0.815);
   
} 

.sfondoformazione{
    background-color: rgba(255, 255, 255, 0.116);
    margin-left: 30%;
    margin-right: 30%;
}

.Università{
    font-size: x-large;
    font-family: 'Shantell Sans', cursive;
   color: rgb(14, 1, 1);
}


.Universitàtesto{
    font-size: large;
    font-family: 'Shantell Sans', cursive;
   color: rgba(14, 1, 1, 0.849);
   font-weight:bolder
   0;
}

.scuola{
    font-size: x-large;
    font-family: 'Shantell Sans', cursive;
   color: rgba(14, 1, 1, 0.815);
}