@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Seaweed+Script&family=Shantell+Sans:wght@500&display=swap');

body {
    background-image: url("./assets/JkWuBaP.jpeg");
    background-size: cover;
    background-position: center center;


}

header h1 {
    font-family: 'Seaweed Script', cursive;
    font-size: xx-large;
    color: rgba(247, 95, 57, 0.849);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

header h2 {
    font-family: 'Seaweed Script', cursive;
    font-size: xx-large;
    color: rgba(226, 82, 63, 0.877);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

header img {
    position: relative;
    width: 200px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;

}

header a {
    font-family: 'Shantell Sans';
    color: rgba(255, 255, 0, 0.849);
    text-decoration: none;
    font-weight: 700;
    background-color: rgba(17, 5, 5, 0.336);
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    overflow: scroll;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

.axiaformazione {
    font-family: 'Shantell Sans', cursive;
    font-weight: 900;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

.testohome {
    font-size: large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(192, 190, 190);
    font-weight: bolder 0;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;



}

.formazione h2 {
    font-size: xx-large;
    font-family: 'Shantell Sans', cursive;
    color: rgba(247, 95, 57, 0.849);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}



.Università {
    font-size: x-large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(83, 69, 69);

    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}


.Universitàtesto {
    font-size: large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(192, 190, 190);
    font-weight: bolder 0;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.scuola {
    font-size: x-large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(83, 69, 69);

    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}


.scuolatesto {
    font-size: large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(192, 190, 190);
    font-weight: bolder 0;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}







.sfondoesperienze h2 {
    font-size: xx-large;
    font-family: 'Shantell Sans', cursive;
    color: rgba(247, 95, 57, 0.849);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

.stagista {
    font-size: x-large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(83, 69, 69);

    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;


}

.testostagista {
    font-size: large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(192, 190, 190);
    font-weight: bolder 0;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

section h1 {
    font-size: xx-large;
    font-family: 'Shantell Sans', cursive;
    color: rgba(247, 95, 57, 0.849);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.testocompetenze {
    font-size: large;
    font-family: 'Shantell Sans', cursive;
    color: rgb(192, 190, 190);
    font-weight: bolder 0;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;



}


footer a {
    font-weight: 400;
    font-family: 'Shantell Sans', cursive;
    color: rgba(8, 230, 230, 0.541);
}

.testocontatti {
    font-size: large;
    font-family: 'Shantell Sans', cursive;
    color: rgba(247, 95, 57, 0.849);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}


.sfondocontatti a {
    font-weight: 400;
    font-family: 'Shantell Sans', cursive;
    color: rgb(8, 230, 230);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}